@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Header */
body {
    font-family: "Nunito Sans", sans-serif;
    overflow: hidden;
}

.parent-container {
    display: flex;
}

.header {
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.33);
}

.container {
    /* max-width: 1440px; */
    margin: 0 auto;
}

.header-container {
    padding: 19px 20px;
    display: flex;
    justify-content: space-between;
}

.block-sidebar-btn {
    display: flex;
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;

    width: 30px;
    height: 30px;
    border: 3px solid #081A3E;
    border-radius: 50%;
    margin-right: 32px;
}

.line-sideber-1, .line-sideber-2, .line-sideber-3 {
    width: 14px;
    height: 2.70px;
    background-color: #081A3E;
    margin-bottom: 2px;
}


.nav-list {
    display: flex;
    align-items: center;
    column-gap: 22px;
    list-style: none;   
}

.nav-item:nth-child(1) {
    margin-right: 10px;
}

.nav-item:nth-child(2) {
    margin-right: 10px;
}

.name-user {
    font-weight: 600;
    font-size: 16px;
}

.main-container {
    padding: 24px;
    width: 100%;
}

.path {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

.path svg {
    padding-top: 5px;
}

.path h3 {
    color: #081A3E;
    font-weight: 700;
    font-size: 20px;
}

.path p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.5%;
    color: #878E99;
}

.third-path {
    color: #3491FF !important;
}

.info-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.2);
    width: 100%;
    margin-top: 24px;
}

.info-container p {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #878E99;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.filter-block {
    display: flex;
}

.add-isk {
    width: 190px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3491FF;
    border-radius: 5px;
    color: #FFF;
}

.filter-btn {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}

.filter-btn svg {
    padding-top: 5px;
}

.filter-block input {
    width: 260px;
    height: 40px;
    border: 1px solid #878E99;
    border-radius: 5px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px; /* Отступ иконки от левой стороны */
    width: 16px;
    height: 16px;
}

.input-wrapper input {
    padding-left: 35px; /* Добавляем отступ для текста, чтобы он не накладывался на иконку */
    height: 40px; /* Примерная высота инпута */
    box-sizing: border-box;
}
