@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* Header */
body {
    font-family: "Nunito Sans", sans-serif;
    overflow: hidden;
}

.parent-container {
    display: flex;
}

.header {
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.33);
}

.container {
    margin: 0 auto;
}

.header-container {
    padding: 19px 20px;
    display: flex;
    justify-content: space-between;
}

.block-sidebar-btn {
    display: flex;
}

.sidebar-btn {
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;

    width: 30px;
    height: 30px;
    border: 3px solid #081A3E;
    border-radius: 50%;
    margin-right: 32px;
}

.line-sideber-1, .line-sideber-2, .line-sideber-3 {
    width: 14px;
    height: 2.70px;
    background-color: #081A3E;
    margin-bottom: 2px;
    transition: transform 0.3s ease-in;
}

.line-sideber-1-open {
    transform: translate(0, 5px) rotate(47deg);
    transition: transform 0.3s ease-in;
}

.line-sideber-2-open {
    visibility: hidden;
    transition: visibility 0s ease-in;
}

.line-sideber-3-open {
    transform: translate(0, -3px) rotate(-43deg);
    transition: transform 0.3s ease-in;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 22px;
    list-style: none;   
}

.nav-item:nth-child(1) {
    margin-right: 10px;
}

.nav-item:nth-child(2) {
    margin-right: 10px;
}

.name-user {
    font-weight: 600;
    font-size: 16px;
}

.main-container {
    max-height: 90vh; 
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 10px;
}

.main-container {
    padding: 24px;
    width: 100%;
}

.path {
    display: flex;
    column-gap: 8px;
    align-items: center;
    margin-top: 22px;
    cursor: pointer;
}

.path svg {
    padding-top: 5px;
}

.path h3 {
    color: #081A3E;
    font-weight: 700;
    font-size: 20px;
}

.path p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    letter-spacing: 1.5%;
    color: #878E99;
}

.third-path {
    color: #3491FF !important;
}

.info-container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px -2px rgba(34, 60, 80, 0.2);
    width: 100%;
    margin-top: 24px;
}

.info-container p {
    font-size: 12px;
    font-weight: 900;
    text-transform: uppercase;
    color: #878E99;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row-container {
    display: flex;
    justify-content: space-between;
}

.filter-block {
    display: flex;
}

.add-isk {
    width: 190px;
    height: 44px;
    font-size: 16px;
    font-weight: 600;
    background-color: #3491FF;
    border-radius: 5px;
    color: #FFF;
}

.filter-btn {
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;
}

.filter-btn svg {
    padding-top: 5px;
}

.filter-block input {
    width: 260px;
    height: 40px;
    border: 1px solid #878E99;
    border-radius: 5px;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 12px;
}

.input-wrapper .icon {
    position: absolute;
    left: 10px; 
    width: 16px;
    height: 16px;
}

.input-wrapper input {
    padding-left: 35px; 
    height: 40px;
    box-sizing: border-box;
}

.cal-block {
    display: flex;
}

.row-cal-block {
    display: flex;
    align-items: center;
    padding: 5px 8px;
    column-gap: 13px;
    width: 238px;
    height: 40px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
    margin-right: 12px;
}

.btn-update {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
    border-radius: 5px;    
}

/* table */
.table-container {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 900;
    color: #878E99;
    line-height: 16.8px;
    letter-spacing: 0.5px;
}

.name svg, .type svg {
    float: right;
}

td {
    font-weight: 400;
    font-size: 14px;
    color: #081A3E;
}


tbody tr:first-child {
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
}

tbody tr:first-child td:first-child {
    border-radius: 5px 0 0 5px;
}

tbody tr:first-child td:last-child {
    border-radius: 0 5px 5px 0; 
}


tbody td:first-child {
    font-weight: bold; 
}


tr:nth-child(even) {
    background-color: #f7f7ff;
}

.view-button {
    background-color: #e6f0ff;
    color: #007bff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}

.view-button:hover {
    background-color: #d1e9ff;
}

.flip-pages {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    cursor: pointer;
    margin-bottom: 50px;
}

.block-displayed-pages {
    height: 38px;
    max-width: 405px;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
    font-weight: 500;
    font-size: 14px;
    color: #081A3E;
    column-gap: 10px;
}

.text-page {
    font-weight: bold;
}

.block-displayed-pages-2 {
    width: 270px;
    height: 38px;
    display: flex;
    align-items: center;
    column-gap: 33px;
    box-shadow: 0px 2px 5px -2px rgba(34, 60, 80, 0.2);
    padding: 5px 8px;
    font-weight: 400;
    font-size: 14px;
    border-radius: 5px;
}

.block-displayed-pages-2 span:nth-of-type(1) {
    color: #3491FF;
}